<div ng-controller = 'dashboardController'>
	<!-- //change the name of the ng-controller to reflect the controller for this page-->
  
  <div class="col s6 offset-s3 card-panel grey lighten-5 z-depth-2 card" >
    <h5>Camping in Yosemite</h5>
    <p>Group(s): Da Fam</p>
    <a class="waves-effect waves-black btn-flat">Edit</a>
    <a class="waves-effect waves-black btn-flat">Add members</a>
    <a class="waves-effect waves-black btn-flat">Delete</a>
  </div>	
  <div class="col s4 offset-s3 card-panel grey lighten-5 z-depth-3 card" >
    <div class='row'>
    <div class='col s4'>
      <h5>Beach Day</h5>
      <p>Group(s): Friends</p>
    </div>
    <div class='col s4'>
      <p><b>Date:</b> Sat, July 4 2015 10:00 AM</p>
      <p><b>Location:</b> Pescadero Beach</p>
    </div>
    </div>

    <a class="waves-effect waves-black btn-flat">Edit</a>
    <a class="waves-effect waves-black btn-flat">Add members</a>
    <a class="waves-effect waves-black btn-flat">Delete</a>
  </div> 

  <div class="col s6 offset-s3 card-panel grey lighten-5 z-depth-3 card" >
    <h5>Beach Day</h5>
    <p>Group(s): Family, Friends</p>
    <a class="waves-effect waves-black btn-flat">Edit</a>
    <a class="waves-effect waves-black btn-flat">Add members</a>
    <a class="waves-effect waves-black btn-flat">Delete</a>
  </div> 
     <a class="left-align waves-effect waves-black btn-flat ">Previous</a>
 
   <a class="right-align waves-effect waves-black btn-flat ">Next</a>

</div>