<div ng-controller = 'partialController'>
<h3 class='center-align'>Welcome to the Event WarRoom</h3>
    <div class="row col s10">
      <form class="col s8 offset-s2 card-panel grey lighten-5 z-depth-1 card" >
        <h4 class='center'>Register</h4>
        <p class='center-align'>Already a member? Click <a href="#/login">here</a> to log in</p>
        <div class='col s6'>
        <div class="row">
          <div class="input-field col s12">
            <input id="firstName" type="text" class="validate" ng-model='reg.firstName'>
            <label for="firstName">First Name</label>
          </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12">
          <input id="lastName" type="text" class="validate" ng-model='reg.lastName'>
          <label for="lastName">Last Name</label>
        </div>
      </div>


      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" ng-model='reg.email'>
          <label for="email">Email</label>
        </div>
      </div>
      </div>

      <div class='col s6'>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" ng-model='reg.password'>
          <label for="password">Password</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="passConf" type="password" class="validate" ng-model='reg.passConf'>
          <label for="passConf">Comfirm your Password</label>
        </div>
      </div>
      <div class='row'>
      <p class='right-align'><button class="waves-effect waves-teal btn-flat " ng-click='register(reg)'>Register</button></p>
      </div>
      <div class='row'></div>
      </div>

    </form>
  </div>

</div>